*{
  margin: 0;
  padding: 0;
}

.mytodolist{
  background-color: #B8B4FF;
  height: 100vh;
  padding: 20px;
 }
 
 .container{
  width: 35%;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 10px;
  color: #645AD3;
  padding: 20px;
  background-color: #fff;
}

ul {
  list-style: none;
}

li{
  padding: 5px ;
  background-color: bisque;
  margin: 5px;
  border-radius: 5px;
}

.fa{
  float: right;
}

.fa:hover{
cursor: pointer;
}