.inputs{
    padding-left: 2px;  
}

.input_text{
    padding: 10px;
    border:  2px solid #E1DDEE;
    border-radius: 16px;
    width:75%;
}

.add_btn{
    padding: 6px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #7D6BE9;
     width: 40px;   
    font-size: 20px;   
    color: #fff;
    border: 1px solid #fff;
}

.add_btn:hover{
    cursor: pointer;
}

.del_icon:hover{
    cursor: pointer;
}
 
 